// Заголовки, загальні БЕМ блоки та інше...

// Заклик до дії
.book {
  letter-spacing: toRem(-0.4);
  color: #fff;
  font-weight: 500;
  position: relative;
  line-height: 1.31; // 21/16
  padding-top: toRem(5.5);
  padding-bottom: toRem(5.5);
  padding-left: toRem(3);
  padding-right: toRem(3);
  
  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $redColor;
    height: toRem(2);
    width: 100%;
    transition: all .3s;
  }

  // media HOVER
  @media (any-hover: hover) {
    &:hover {
      &::after {
        height: 100%;
        top: 0;  
      }
    }
  }
}