// Заголовки, загальні БЕМ блоки та інше...

// Title component
.title {
  color: #fff;
  font-family: "Lexend Deca";
  font-style: normal;
  line-height: 1.2; /* 48/40 */
  letter-spacing: toRem(-1.5);
  transition: color .3s;

  @include adaptiveValue("font-size", 40, 24, 0, 1026, 320); // Adaptive font size

  // .title--min
  &--min {
    @include adaptiveValue("font-size", 30, 22, 0, 1440, 320); // Adaptive font size
  }

  // .title--middle
  &--middle {
    @include adaptiveValue("font-size", 48, 28, 0, 1440, 320); // Adaptive font size
  }

  // .title--big
  &--big {
    line-height: 1.1; /* 66/60 */
    @include adaptiveValue("font-size", 60, 36, 0, 1440, 320); // Adaptive font size
  }
}

// Text component
.text {
  line-height: 1.5; /* 24/16 */
}

// Action button
.book {
  letter-spacing: toRem(-0.4);
  color: #fff;
  font-weight: 500;
  position: relative;
  line-height: 1.31; // 21/16
  padding-top: toRem(5.5);
  padding-bottom: toRem(5.5);
  padding-left: toRem(3);
  padding-right: toRem(3);
  
  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $redColor;
    height: toRem(2);
    width: 100%;
    transition: all .3s;
  }

  // media HOVER
  @media (any-hover: hover) {
    &:hover {
      &::after {
        height: 100%;
        top: 0;  
      }
    }
  }
}