.footer {

  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 100, 40);

  // .footer__content
  &__content {
    display: flex;
    justify-content: space-between;
    gap: toRem(40);
    align-items: flex-start;
    max-width: toRem(1240);
    margin: 0 auto;

    // Media max-width 860px
    @media (max-width: toEm(859.98)) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  row-gap: toRem(30);

  @include adaptiveValue("column-gap", 75, 15);

  // .footer-menu__link
  &__link {
    font-weight: 500;
    color: #fff;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.invite {
  
  // Media min-width 860px
  @media (min-width: toEm(860)) {
    text-align: right;
  }

  // .invite__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(22);
    }
  }

  // .invite__link
  &__link {
    color: $redColor;
    font-size: toRem(40);
    padding-bottom: toRem(7);
    border-bottom: solid toRem(3) $redColor;
    transition: border-color 0.2s;

    @media (any-hover:hover) {
      &:hover {
        border-bottom: solid toRem(3) transparent;
      }
    }
  }
}
