//====================================================================================================
.page {

  // .page__hero
  &__hero {

  }
}
//====================================================================================================

.hero {
  padding-top: toRem(65);
  padding-bottom: toRem(143);

  // .hero__body
  &__body {
    max-width: toRem(955);
    margin: 0 auto;
    position: relative;

    // media min-width: 600px
    @media (min-width: toEm(600)) {
      display: grid;
      align-items: start;
      grid-template-columns: 41.884817% 31.099476% auto;
    }

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      padding-top: toRem(20);
      padding-bottom: toRem(40);
    }
  }

  // .hero__title
  &__title {
    color: #fff;
    font-family: "Lexend Deca";
    font-style: normal;
    line-height: 1.33; /* 48/36 */
    letter-spacing: toRem(-1.5);
    

    // animation
    opacity: 0;
    transform: translate(0, 20%);

    // .hero__title._watcher-view
    ._watcher-view & {
      transform: translate(0, 0);
      transition: transform 1s .5s, opacity 1s, .5s;
      opacity: 1;
    }

    // .hero__title-item
    &-item {
      position: relative;
      z-index: 3;
      // media max-width: 599.98
      @media (max-width: toEm(599.98)) {

        &:not(:last-child) {
          margin-bottom: toRem(20);
        }
      }
    }

    @include adaptiveValue("font-size", 36, 24, 0, 1026, 320); // Adaptive font size

    // media min-width: 600px
    @media (min-width: toEm(600)) {
      max-width: toRem(400);
      padding-top: 10.893246%; /* 50/459 */
    }
  }

  // .hero__media
  &__media {
    position: relative;
    
    // media min-width:600px
    @media (min-width: toEm(600)) {
      margin-left: toRem(-115);
    }

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }

  // .hero__main-image
  &__main-image {
    aspect-ratio: 412 / 459;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: toRem(2.7);

    // Animation
    opacity: 0;
    transform: translate(0, 5%);

    // .hero__main-image._watcher-view
    ._watcher-view & {
      transition: all 1s .1s;
      transform: translate(0, 0);
      opacity: 1;
    }

    // .hero__main-image-item
    &-item {
      position: relative;
      z-index: 2;
    }
  }

  // .hero__content
  &__content {
    // margin-left: toRem(-65);
    padding-top: toRem(8);

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      display: flex;
      gap: toRem(20);
    }
  }

  // .hero__circle-image
  &__circle-image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    max-width: toRem(243);
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;

    // .hero__circle-image-item
    &-item {
      position: relative;
      z-index: 3;

      // media min-width:600px
      @media (min-width: toEm(600)) {

        &:not(:last-child) {
          margin-bottom: toRem(30);
        }
      }

      // media max-width: 599.98
      @media (max-width: toEm(599.98)) {
        flex-shrink: 0;
        flex-basis: toRem(100);
      }
    }

    // media min-width:600px
    @media (min-width: toEm(600)) {
      transform: translate(toRem(-65), 0) scale(0);

      // .hero__circle-image._watcher-view
      ._watcher-view & {
        transform: translate(toRem(-65), 0) scale(1);
        transition: all 1s 1.5s;
      }
    }

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      transform: scale(0);

      // .hero__circle-image._watcher-view
      ._watcher-view & {
        transform: scale(1);
        transition: all 1s 1.5s;
      }
    }
  }

  // .hero__deco
  &__deco {

    // Animation
    transform: scale(0);

    // .hero__deco-item
    &-item {
      position: absolute;

      // .hero__deco-item--one
      &--one {
        aspect-ratio: 233 / 195;
        top: -16.557734%; /* -76/459 */
        right: -26.699029%; /* -110/412 */
        max-width: 56.553398%; /* 233/412 */

        // .hero__deco
        .hero__deco {
          transform-origin: left bottom;
          transform: scale(0) rotate(-20deg);
          // .hero__deco--one._watcher-view
          ._watcher-view & {
            transform: scale(1) rotate(0);
            transition: all 1.5s 1s;
          }
        }
      }

      // .hero__deco-item--two
      &--two {
        aspect-ratio: 239 / 278;
        bottom: -31.154684%; /* -143/459 */
        right: -21.116505%; /* -87/412 */
        max-width: 58.009709%; /* 239/412 */

        // .hero__deco
        .hero__deco {
          transform-origin: left top;
          transform: scale(0) rotate(20deg);

          // .hero__deco--one._watcher-view
          ._watcher-view & {
            transform: scale(1) rotate(0);
            transition: all 1.5s 1s;
          }
        }
      }
    }
  }

  // .hero__figure
  &__figure {

    // Animation
    transform-origin: top right;
    transform: scale(0) rotate(-20deg);

    // .hero__figure._watcher-view
    ._watcher-view & {
      transform: scale(1) rotate(0);
      transition: all 1.5s 1s;
    }

    // .hero__figure-item
    &-item {
      aspect-ratio: 197 / 197;
      position: absolute;
      bottom: -12.418301%; /* 57/459 */
      left: -21.84466%; /* 90/412 */
      max-width: 47.815534%; /* 197/412 */
    }
  }

  // .hero__text
  &__text {
    line-height: 1.5; /* 24/16 */

    // Animation 
    transform: translate(-100%, 0);
    opacity: 0;

    // .hero__text._watcher-view
    ._watcher-view &{
      transform: translate(0, 0);
      opacity: 1;
      transition: all 1s .7s;
    }
    
    // media min-width:600px
    @media (min-width: toEm(600)) {
      padding-left: 15.652174%; /* 36/230 */
      max-width: toRem(230);
    }
  }

  // media max-width: 599.98
  @media (max-width: toEm(599.98)) {
    align-self: center;
  }
}