.hero {
  padding-top: toRem(65);
  padding-bottom: toRem(65);
  min-height: 100svh;
  display: flex;
  align-items: center;

  // .hero__container
  &__container {
    flex-grow: 1;
  }

  // .hero__body
  &__body {
    max-width: toRem(955);
    margin: 0 auto;
    position: relative;

    // media min-width: 600px
    @media (min-width: toEm(600)) {
      display: grid;
      align-items: start;
      grid-template-columns: 41.884817% 31.099476% auto;
    }
  }

  // .hero__title
  &__title {

    // animation
    opacity: 0;
    transform: translate(0, 20%);

    @include adaptiveValue("font-size", 36, 24, 0, 1026, 320); // Adaptive font size

    // .hero__title._watcher-view
    ._watcher-view & {
      transform: translate(0, 0);
      transition: transform 1s .5s, opacity 1s, .5s;
      opacity: 1;
    }

    // .hero__title-item
    &-item {
      position: relative;
      z-index: 3;
      // media max-width: 599.98
      @media (max-width: toEm(599.98)) {

        &:not(:last-child) {
          margin-bottom: toRem(20);
        }
      }
    }

    @include adaptiveValue("font-size", 36, 24, 0, 1026, 320); // Adaptive font size

    // media min-width: 600px
    @media (min-width: toEm(600)) {
      max-width: toRem(400);
      padding-top: 10.893246%; /* 50/459 */
    }
  }

  // .hero__media
  &__media {
    position: relative;
    
    // media min-width:600px
    @media (min-width: toEm(600)) {
      margin-left: toRem(-115);
    }

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }

  // .hero__main-image
  &__main-image {
    aspect-ratio: 412 / 459;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: toRem(2.7);

    // Animation
    opacity: 0;
    transform: translate(0, 5%);

    // .hero__main-image._watcher-view
    ._watcher-view & {
      transition: all 1s .1s;
      transform: translate(0, 0);
      opacity: 1;
    }

    // .hero__main-image-item
    &-item {
      position: relative;
      z-index: 2;
    }
  }

  // .hero__content
  &__content {
    // margin-left: toRem(-65);
    padding-top: toRem(8);

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      display: flex;
      gap: toRem(20);
    }
  }

  // .hero__circle-image
  &__circle-image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    max-width: toRem(243);
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;

    // .hero__circle-image-item
    &-item {
      position: relative;
      z-index: 3;

      // media min-width:600px
      @media (min-width: toEm(600)) {

        &:not(:last-child) {
          margin-bottom: toRem(30);
        }
      }

      // media max-width: 599.98
      @media (max-width: toEm(599.98)) {
        flex-shrink: 0;
        flex-basis: toRem(100);
      }
    }

    // media min-width:600px
    @media (min-width: toEm(600)) {
      transform: translate(toRem(-65), 0) scale(0);

      // .hero__circle-image._watcher-view
      ._watcher-view & {
        transform: translate(toRem(-65), 0) scale(1);
        transition: all 1s 1.5s;
      }
    }

    // media max-width: 599.98
    @media (max-width: toEm(599.98)) {
      transform: scale(0);

      // .hero__circle-image._watcher-view
      ._watcher-view & {
        transform: scale(1);
        transition: all 1s 1.5s;
      }
    }
  }

  // .hero__deco
  &__deco {

    // Animation
    transform: scale(0);

    // .hero__deco-item
    &-item {
      position: absolute;

      // .hero__deco-item--one
      &--one {
        aspect-ratio: 233 / 195;
        top: -16.557734%; /* -76/459 */
        right: -26.699029%; /* -110/412 */
        max-width: 56.553398%; /* 233/412 */

        // .hero__deco
        .hero__deco {
          transform-origin: left bottom;
          transform: scale(0) rotate(-20deg);
          // .hero__deco--one._watcher-view
          ._watcher-view & {
            transform: scale(1) rotate(0);
            transition: all 1.5s 1s;
          }
        }
      }

      // .hero__deco-item--two
      &--two {
        aspect-ratio: 239 / 278;
        bottom: -31.154684%; /* -143/459 */
        right: -21.116505%; /* -87/412 */
        max-width: 58.009709%; /* 239/412 */

        // .hero__deco
        .hero__deco {
          transform-origin: left top;
          transform: scale(0) rotate(20deg);

          // .hero__deco--one._watcher-view
          ._watcher-view & {
            transform: scale(1) rotate(0);
            transition: all 1.5s 1s;
          }
        }
      }
    }
  }

  // .hero__figure
  &__figure {

    // Animation
    transform-origin: top right;
    transform: scale(0) rotate(-20deg);

    // .hero__figure._watcher-view
    ._watcher-view & {
      transform: scale(1) rotate(0);
      transition: all 1.5s 1s;
    }

    // .hero__figure-item
    &-item {
      aspect-ratio: 197 / 197;
      position: absolute;
      bottom: -12.418301%; /* 57/459 */
      left: -21.84466%; /* 90/412 */
      max-width: 47.815534%; /* 197/412 */
    }
  }

  // .hero__text
  &__text {

    // Animation 
    transform: translate(-100%, 0);
    opacity: 0;

    // .hero__text._watcher-view
    ._watcher-view &{
      transform: translate(0, 0);
      opacity: 1;
      transition: all 1s .7s;
    }
    
    // media min-width:600px
    @media (min-width: toEm(600)) {
      padding-left: 15.652174%; /* 36/230 */
      max-width: toRem(230);
    }
  }

  // media max-width: 599.98
  @media (max-width: toEm(599.98)) {
    align-self: center;
  }
}

//====================================================================================================

.focused {
  position: relative;
  padding-bottom: toRem(40);

  // .focused__content
  &__content {
    position: relative;
    display: flex;
    align-items: start;
    max-width: toRem(1240);
    margin: 0 auto;
    justify-content: space-between;
    row-gap: toRem(50);

    @include adaptiveValue("column-gap", 80, 25, 0, $containerWidth, 991.98);

    // @media max-width: 991.98px
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .focused__picture
  &__picture {
    position: relative;
    width: 100%;

    // .focused__picture--star
    &--start {
      
      // @media min-width 600px
      @media (min-width: toEm(600)) {
        flex-basis: toRem(312); /* 312/1240 */
      }
    }

    // .focused__picture--end
    &--end {

      // @media min-width: 991.98px
      @media (min-width: $mobile) {
        align-self: flex-end;
        transform: translate(0, 32.075472%); /* 170/530 */
      }

      // @media min-width 600px
      @media (min-width: toEm(600)) {
        flex-basis: toRem(365); /* 365/1240 */
      }
    }
  }

  // .focused__image
  &__image {
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: toRem(5);
  }

  // .focused__body
  &__body {
    position: relative;
    z-index: 2;

    @include adaptiveValue("padding-top", 140, 20);
  }

  // /focused__title
  &__title {
    @include adaptiveValue("font-size", 36, 24, 0, 1240, 320); // Adaptive font size

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }

  // .focused__text
  &__text {

    > p {

      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }

    // @media min-width $mobile
    @media (min-width: $mobile) {
      max-width: toRem(390);
    }
  }

  // .focused__decor-items
  &__decor-items {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  // .focused__decor-items
  &__decor-item {
    position: absolute;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;

    &._watcher-view {
      transition: all 2s linear .1s;
      stroke-dashoffset: 0;
    }

    // .focused__decor-item--start
    &--start {
      left: 0;
      bottom: 0;
      width: 110.897436%; /* 346/312 */
      transform: translate(-47.976879%, 31.578947%); /* -166/346 || 108/342 */
      aspect-ratio: 346 / 342;
    }

    // .focused__decor-item--end
    &--end {
      left: 0;
      top: 0;
      transform: translate(-66.260163%, 21.95122%); /* -326/492 || 81/369 */
      width: 134.794521%; /* 492/365 */
      aspect-ratio: 492 / 369;
    }
  }

  // .focused__decor-value
  &__decor-value {
    width: 100%;
    height: 100%;
  }
}

//====================================================================================================

.love {
  background-color: #c5cebd;

  @include adaptiveValue("padding-top", 150, 40); // Adaptive padding
  @include adaptiveValue("padding-bottom", 150, 40); // Adaptive padding

  // .love__content
  &__content {
    max-width: toRem(1440);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;

    // @medi max-width tablet
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  // .love__picture
  &__picture {
    position: relative;
    

    // @media min-width tablet
    @media (min-width: $mobile) {
      flex: 1 1 38.75%; /* 558/1440 */
    }
  }

  // .love__image
  &__image {
    max-width: 100%;
    border-radius: toRem(5);
    position: relative;
    z-index: 2;
  }

  // .love__decor-picture
  &__decor-picture {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: toRem(223);
    aspect-ratio: 223 / 234;
    transform: translate(53.811659%, 61.538462%); /* 120/223 || 144/234 */
  }

  // .love__item-decor-picture
  &__item-decor-picture {
    width: 100%;
    height: 100%;
  }

  // .love__body
  &__body {
    position: relative;
    z-index: 5;

    @include adaptiveValue("padding-left", 55, 15);
    @include adaptiveValue("padding-right", 55, 15);

    // @media min-width tablet
    @media (min-width: $mobile) {
      flex: 1 1 34.17%;
    }
  }

  // .love__title
  &__title {
  
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 42, 20);
    }

    // @media min-width tablet
    @media (min-width: $tablet) {
      margin-left: toRem(-120);
    }
  }

  // .love__text
  &__text {
    
    // @media min-width tablet
    @media (min-width: $mobile) {
      max-width: toRem(310);
    }
  }
}

.decor-love {
  display: none;

  // @media min-width tablet
  @media (min-width: $tablet) {
    display: block;

    @include adaptiveValue("padding-top", 235, 0);

    // .decoir-love__body
    &__body {
      position: relative;
    }
    
    // .decor__love-line-item
    &__line-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 134.615385%; /* 525/390 */
      aspect-ratio: 525 / 531;
    }

    // .decor-love__line
    &__line {
      width: 100%;
      height: 100%;
      stroke-dasharray: 1800;
      stroke-dashoffset: 1800;

      &._watcher-view {
        transition: all 1.5s linear .1s;
        stroke-dashoffset: 0;
      }
    }

    // .decor-love__hair-item
    &__hair-item {
      transform: translate(50%, 0); 
    }

    // .decor-love__hair
    &__hair {
      width: 100%;
      border-radius: 50%;
    }

    // .decor-love__dryer-item
    &__dryer-item {
      transform: translate(0, -23.75%); /* -95/400 */
    }

    // .decor-love__dryer
    &__dryer {
      max-width: 100%;
      border-radius: 5px;
    }
  }
}

//====================================================================================================

.services {

  @include adaptiveValue("padding-top", 150, 40); // Adaptive padding
  @include adaptiveValue("padding-bottom", 150, 40); // Adaptive padding

  // .services__title
  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 106, 20); // Adaptive margin
  }

  // .services__body
  &__body {
    position: relative;
    max-width: toRem(868);
    margin: 0 auto;
    display: grid;
  }

  // .services__items
  &__items {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
    align-items: flex-start;

    // Media max 659.98
    @media (max-width: toEm(659.98)) {
      margin-bottom: toRem(20);
    }
  }
  
  // .services__item
  &__item {
    &:nth-child(1) {}
    &:nth-child(2) {
      padding-top: toRem(145);
    }
    &:nth-child(3) {
      padding-top: toRem(87);
    }
  }
}

.item-service {
  flex-basis: toRem(190);
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;

  // .item-services__link
  &__link {
    // display: grid;
    // gap: toRem(32);
    position: relative;
    z-index: 2;

    @media (any-hover: hover) {
      &:hover {
        .item-service__image {
          transform: scale(1.05);
        }
        .item-service__name.title{
          color: $redColor;
        }
      }
    }
  }

  // .item-service__image
  &__image {
    transition: transform .3s;
    // max-width: toRem(190);
    width: 100%;
  }

  // .item-service__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }

  // .item-service__figure-item
  &__figure-item {
    position: absolute;
    max-width: toRem(219);
    aspect-ratio: 219 / 203;
    bottom: 0;
    right: 0;
    transform: translate(39.726027%, 31.034483%);
  }

  // .item-service__figure
  &__figure {
    width: 100%;
    height: 100%;
  }

  // .item-service__deco-item
  &__deco-item {
    position: absolute;
    max-width: toRem(225);
    aspect-ratio: 225 / 178;
    bottom: 0;
    right: 0;
    transform: translate(62%, -43%);
  }

  // .item-service__deco
  &__deco {
    width: 100%;
    height: 100%;
  }

  // .item-service__name
  &__name {
    position: relative;
    z-index: 3;
  }
}

.content-services {
  position: relative;
  z-index: 5;

  // Media min 660px
  @media (min-width: toEm(660)) {
    transform: translate(toRem(-43), toRem(-104));
    max-width: toRem(320);
    right: 50%;
    text-align: right;
    justify-self: end;
  }

  // Media max 659.98
  @media (max-width: toEm(659.98)) {
    text-align: center;
  }

  // .content-services__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(32);
      @include adaptiveValue("margin-bottom", 32, 15);
    }
  }
}